  
@charset "UTF-8";
html, body {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	width: 100%;
}

/**	Set the general font families and characteristics for the body **/
body {
	color: #000000;
	background-image: linear-gradient(20deg, rgba(0,0,0,0) 30%, whitesmoke 50%,white 100% );
	font-family: Helvetica, Geneva, Arial, sans-serif;
    line-height: 1.3;
    overflow-x: hidden;
    width:100%;
    margin:0px;
}

header {
	background-color: #DDDDFF;
	color: #000066;
	border-bottom: 1px solid #999999;
    margin: 0;
	padding: 0px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 8vh;
    vertical-align: center;
    z-index:104;
}
header div{
    float:center;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    background-color: #660000;
    
}
.titl {
    font-size:45px;
    text-shadow:1px 1px 1px black;
    color:white;
    width:100%;
    text-align:left;
    font-family: 'Sora', sans-serif;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 10px;
    background-image: linear-gradient(20deg, rgba(0,0,0,0) 30%, rgb(195, 55, 100,1) 50%, rgb(29, 38, 113) 100%);
    background-size: 200% auto;
    display: inline-flex;
    justify-content: space-between;
    position:fixed;
    z-index: 100;
    transition: 0.75s;
    transition-timing-function:cubic-bezier(.17,.67,.83,.67);
    
}
.Felix{
    padding: 0px;
    margin: 0px;
    font-size:48px;
    font-family: 'Architects Daughter', cursive;

}
.Felix:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    
}
.navic{
    padding: 0px;
    text-align: right;
    margin-right: 0.25vw;
    margin-left: 4vw;
    vertical-align: middle;

    
}
.navic:hover{
    cursor: pointer;
    transform: translate(2px,2px);
    transition: 0.5s;
    
    
}
.links{
    padding: 0px;
    text-align: center;
    margin-right: 2vw;
    margin-left: 2vw;
    vertical-align: middle;
    background-color:none;
    
}
.links:hover{
    cursor: pointer;
    transform: translate(2px,2px);
    transition: 0.5s;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: white;
}
.a2{
    color: #333131;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 2pt;
    z-index: 3;
}
.a2:hover{
    color: #333131;
    transition: 0.2s;
    opacity: 0.7;
    
}

.a4{
    color: whitesmoke;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 2pt;
}
.a4:hover{
    color: white;
    transition: 0.2s;
    opacity: 0.7;
    
}
.Felix-Container{
    text-align: left;
    justify-content: flex-start;
    align-items: center;
}
.Nav-Container{
    text-align: center;
    align-items: center;
    display:flex;
    top: 50%;
}
.Ext-Container{
    text-align: right;
    display:flex;
      
      top: 50%;
      align-items: center;
}
.main{
    color:black;
    
    display: block;
    margin-top: 1vw;
   
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    max-width: 90vw;
}

.maincv{
    color:black;
    
    display: block;
    margin-top: 1vw;
   
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    max-width: 90vw;
}

.main2{
    color:black;
    display: block;
    margin-top: 1vw;
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    max-width: 90vw;
    z-index: 2;
    height:auto;
    position: relative;
}

.item{
    width:80%;
    box-shadow:0px 0px 5px 0px black;
    opacity:1;
    margin: 10%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: 'Kaisei Tokumin', serif;
    font-size:calc(12px + 1.2vw);
    color: whitesmoke;
    border-radius: 25px;
    background-image: linear-gradient(30deg, #c33764 0%, #1d2671 60%);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}
.Resources{
    font-family: 'Kaisei Tokumin', serif;
    font-size:calc(15px + 1.2vw);
    color:white;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    padding-top: 5px;
    padding-bottom: 1px;
}
.item:hover{
    transition: 0.3s;
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
    cursor: pointer;
    opacity:0.9;
   
}
.intro{
    width:100%;
    background-color: white;
    box-shadow:0px 0px 0px 0px black;
    opacity:1;
    margin: 0vw;
    margin-top: 2vw;
    font-family: 'Kaisei Tokumin', serif;
    font-size:calc(12px + 1.2vw);
    display: flex;
    padding:0px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    height:auto;
    z-index: 3;
}
.Pic{
    width:100%;
    background-color: white;
    height:auto;
    font-family: 'Kaisei Tokumin', serif;
    font-size:105px;
    margin:0px;
    position: relative;
    background-image: url('Main.jpg');
    background-repeat: no-repeat;
    text-align:center;
    object-fit: cover;
    color: whitesmoke;
    padding-top: 8vh;
    padding-bottom: 7vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.Pic2{
    width:100%;
    background-color: white;
    height:auto;
    font-family: 'Kaisei Tokumin', serif;
    font-size:70px;
    margin:0px;
    position: relative;
    background-image: url('Main.jpg');
    background-repeat: no-repeat;
    text-align:center;
    object-fit: cover;
    color: whitesmoke;
    padding-top: 8vh;
    padding-bottom: 8vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.picbelow{
    margin:0px;
    width:84%;
    height: auto;
    margin-right:8%;
    margin-left:8%;
    background: rgba(0,0,0,0.6);
    font-family: 'Kaisei Tokumin', serif;
    font-size:4vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.intpic{
    margin:0px;
    width:30%;
    min-width: 200px;
    justify-content: center;
    display: flex;
  align-items: center;
  flex-basis: 30%;
  flex-grow: 0.8;
  padding:1%;
}
.intpicr{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  margin:0px;
    width:30%;
    min-width: 200px;
    flex-grow: 0.8;
    padding:1%;
}
.intext{
    margin:0px;
    padding-top: 2%;
    padding-right:0%;
    padding-left:0%;
    padding-bottom:0%;
    width:68%;
    background-image: linear-gradient(45deg, #D3CCE3, whitesmoke);
    min-width: 300px;
    flex-basis: 68%;
    flex-grow: 0.8;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: visible;
}
.intextup{
    margin:auto;
    width:84%;
    height: auto;
    padding-right:8%;
    padding-left:8%;
    
}
.intextbot{
    margin:0 auto;
    margin-top: 20px;
    width:100%;
    padding-bottom:10px;
    height: auto;
    display:block;
    opacity:0.8;
    text-align:center;
    align-items: center;
    padding-top: 0%;
    background-image: linear-gradient(80deg, #c33764 0%, #1d2671 25%, #c33764 50%, #1d2671 75%, #c33764 100%);
    background-size: 250% auto;
   
}

.intextbot:hover .one{
    
    -webkit-animation: example1 1s infinite;
    -moz-animation: example1 1s infinite;
    animation: example1 1s infinite;
    -webkit-animation-delay: .1s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}
.intextbot:hover .two{
    
    -webkit-animation: example1 1s infinite;
    -moz-animation: example1 1s infinite;
    animation: example1 1s infinite;
    -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
 
}
.intextbot:hover .three{
    
    -webkit-animation: example1 1s infinite;
    -moz-animation: example1 1s infinite;
    animation: example1 1s infinite;
    -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
  
}
.intextbot:hover{
    cursor: pointer;
    transform: translate(5px,5px);
    opacity:0.8;
    transition: 0.5s;
    box-sizing: border-box;
    background-position: right;
    
}

  @keyframes example1 {
    0% {
        opacity: 1;
        
        -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
      }
    
      100% {
        opacity: 0;
        
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
      }
    
  }
.arrow{
    display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
  }


.cont{
    align-items: center;
    background-color:none;
    width:0px;
    text-align:center;
    padding:0%;
    display:table;
    margin:0 auto;
}
.picture{
    height:auto;
    width:100%;
}
@media (max-width : 990px){
    #title{
        display : none;
    }
    .Pic{
        font-size: 20vw;
        padding-top: 7vw;
    }
    .intro{
        margin-bottom: 5vw;
    }
    #bott{
        font-size: 3vw;
    }
    .toggle{
        display:block;
    }
    
 }
 
 @media (min-width : 991px){
    #title{
        display : inline-flex;
    }
    .Pic{
        font-size: 105px;
        padding-top: 8vw;
    }
    .intro{
        margin-bottom: 2vw;
    }
    #bott{
        font-size: 25px;
    }
    .toggle{
        display:none;
    }
    
 }
 
 html:not([data-scroll='0']) .titl{
    background-position:right;
  }
  .bott {
    font-size:25px;
    text-shadow:1px 1px 1px black;
    color:whitesmoke;
    width:100%;
    text-align:left;
    font-family: 'Sora', sans-serif;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom:10px;
    padding-top:10px;
    background-image: linear-gradient(80deg, #c33764 0%, #1d2671 25%, #c33764 50%, #1d2671 75%, #c33764 100%);
    background-size: 250% auto;
    display: inline-flex;
    justify-content: center;
    
    z-index: 100;
    transition: 0.25s;
    transition-timing-function:cubic-bezier(.17,.67,.83,.67);
}
.deadlinks{
    padding: 0px;
    text-align: center;
    margin-right: 2vw;
    margin-left: 2vw;
    vertical-align: middle;
    background-color:none;
    
}
.deadlinks:hover{
    cursor: default;
    
}
.toggle{
    position: fixed;
    top: 10px;
    left: 5px;
    background-color: whitesmoke;
    width: 35px;
    height:33px;
    border-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-width: 2px;
    border-style: solid;
    z-index: 101;
    border-radius: 5px;
    opacity: 0.9;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    
}
.menu{
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 1s;
    -webkit-transition:-webkit-transform 1000ms;
    -ms-transition:-webkit-transform 1000ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
.toggle:hover .menu{
    transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
    opacity: 1;
    width: 35px;
}
.toggle:hover{
    cursor:pointer;
}
.hide{
    display:block;
    transition: 0.2s;
    
    z-index: 99;
    min-width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    height:auto;
    top:-1000px;
    position:fixed;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    align-items: center;
    
}
.show{
    display:block;
    
    
    transition: 0.2s;
    top:0px;
    height:auto;
}
.mone{
    -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
	-ms-transform: rotate(32deg);
  transform-origin: center left;
  -ms-transform-origin: center left;
  -webkit-transform-origin: center left;
  width: 41.34px;
}
.mtwo{
    opacity: 0;
}
.mthree{
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);
	-ms-transform: rotate(-32deg);
    transform-origin: center left;
    -ms-transform-origin: center left;
  -webkit-transform-origin: center left;
    width: 41.34px;
}
.dropmenu{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size:calc(32px + 1.2vw);
    font-family: 'sora', sans;
    color:rgba(245,245,245,1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:0px;
    padding-right:0px;
    display:inline-flex;
    
    width:100%;
}

.dropmenu:hover {
    cursor: pointer;
    
}
.dropmenu2{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size:calc(32px + 1.2vw);
    font-family: 'sora', sans;
    color:rgba(245,245,245,1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:0px;
    padding-right:0px;
    display:inline-flex;
    width:100%;
    
}

.a3{
    color:rgba(245,245,245,1);
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(245, 245, 245, 1), rgba(0, 0, 0, 0));
  }
.navic2{
    padding: 0px;
    text-align: right;
    margin-right: 2vw;
    margin-left: 2vw;
    vertical-align: middle;

    
}
.navic2:hover{
    transition: 0.3s;
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
    cursor: pointer;
    
    
}
.hidepic{
    display:none !important;
}
.intextfull{
    width:84%;
    flex-grow: 1;
    flex-basis: 100%;
    transition: 0.2s;
}
.intextcontfull{
   
    flex-grow: 1;
    flex-basis: 100%;
    transition: 1s;
}
.extra{
    display:none;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.expand{
    height:auto;
    display:block !important;
    transition:0.5s;
    padding-left: 8%;
    padding-right: 8%;
    width:84%;
    opacity:1;
}
.arrowref{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    padding-bottom: 10px;
    padding-top: 0px;
}